
    
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-items {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    flex-shrink: 0;
    text-align: left;
  }
  
  .carousel-item img {
    background-position: center;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .carousel-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .carousel-item p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .carousel-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .carousel-btn {
    background: none;
    background-color: #333;
    border-radius: 50%;
    text-align: center;display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: absolute;
  }
  
  .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-btn.next {
    right: 10px;
  }
  